/*browser styling resetten*/
*  {
    margin: 0;
    padding: 0;

  }

  /* initialiseren van eigen styling */

  body {
    font-size: 16px;
    line-height: 2.0;
    font-family: "coordinates", sans-serif;
    color: #000000;
    background-color: white;
  }
h1, h2, h3, h4, h5, h6 {
  font-family: "coordinates", sans-serif;
  font-weight: normal;
}

p {
  margin-bottom: 1.5rem;
}

nav a {
  padding: 10px 20px;
  background-color: White;
  text-decoration: none;
  color: black;
  margin: 10px 5px;
}
nav a:link {
 color: grey;
}
nav a:visited {
  color: Black;
}
nav a:hover {
  background-color:	#E0EEEE;
}
nav a:active {
  text-decoration: underline;
  font-weight: bold;
}

/* classes*/

/*.wrapper {
  width: 600px;
  margin: 5px auto; /* top/bottom left/right
}*/

.bld {
  margin: auto;
}
.bld p {
  text-decoration-color: orange;
  font-size: 3 rem;
  margin-left: 10px;
  margin-top: 0.8em;

}
/*Extra small devices (phones 600px and down)*/
  @media only screen and (min-width: 650px) {
  body {
    font-size: 1.5em;
    line-height: 1.5;
    }


  .wrapper {
    width: 650px;
    margin: auto;
    }


@media only screen and (min-width: 1290px) {
  body {
     font-size: 16px;
     line-height: 1.5;

  }

  h1 {
    text-align: center;
    font-size: 2em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    color: orange;

  }
  h2 {
    text-align: center;
    color: grey;
    padding-top: 1em;
    margin-bottom: 1.5em;
  }
  h3 {
    text-align: center;
    font-size: 24px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    color: grey;
  }
  .wrapper {
    width: 650px;
    margin: 20px auto; /* top/bottom left/right */
  }
}
